.app-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.content-container,
#pagesContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.mat-sidenav {
  width: 250px;
}

.header {
  display: flex;
  align-items: center;
  background-color: #4d708e;
  height: 59px;
  .page-title {
    font-family: Roboto;
    font-size: 22px;
    color: #ffffff;
    padding: 16px 30px;
  }
}
