<div class="add-new-container">
  <header class="add-new-header">Add New Task</header>

  <div class="add-new-content">
    <div class="input-container">
      <div class="title">Title <span class="require">*</span></div>
      <input class="title-input" type="text" placeholder="Type Title..." [(ngModel)]="todo.title">
    </div>
    <div class="input-container">
      <div class="title"> Description </div>
      <textarea class="description-input" placeholder="Type Description..." [(ngModel)]="todo.description"></textarea>
    </div>
    <div class="input-container">
      <div class="title">Due Date <span class="require">*</span></div>
      <input class="date-input" placeholder="select Due Date" [owlDateTimeTrigger]="dueDatePicker"
        [owlDateTime]="dueDatePicker" [(ngModel)]="todo.dueDate" readonly>
      <owl-date-time #dueDatePicker [pickerType]="'calendar'"></owl-date-time>
    </div>
  </div>
  <div class="add-new-footer">
    <button class="cancel-btn" (click)="closeDialog()">Cancel</button>
    <button class="save-btn" (click)="saveToDo()">Save</button>
  </div>
</div>